<h1><%= @post.title %></h1>
<hr>
<h2><a href="<%= @post.url %>" target="_blank">go to <%= @post.title %> article</a></h2>

<p>What did you think of this article?</p>
<p>Vote to add your favorite articles to the top of our postings list.</p>


<%= button_to 'Vote', post_vote_path(@post) %>

<br><br>

<%= link_to "Edit yo Post!", edit_post_path %>
<p><%= link_to "Delete", post_path(@post),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<% if @post.comments.any? %>
  <h4>Article comments</h4>
  <ul>
    <% @post.comments.each do |comment| %>
      <li>
        <div class="well">
          <%= comment.description %><br>
          - <%= comment.author %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no comments yet!</p>
<% end %>

<p><%= link_to "Add comment", new_post_comment_path(@post) %></p>
<%= link_to "return home", posts_path %>
